/* LESS VARIABLES */

/* Colors */


/* Fonts */


/* LESS MIXINS */

/* Animation Functions */
.animate (@duration: .3s, @delay: 0s, @easing: ease) {
	transition: all @duration @delay @easing;
	-webkit-transition: all @duration @delay @easing;
	-moz-transition: all @duration @delay @easing;
	-o-transition: all @duration @delay @easing;
	-ms-transition: all @duration @delay @easing;
}

.properties (@duration: 1s, @delay: 0s, @count: 1, @easing: ease) {
	animation-duration: @duration;
	animation-delay: @delay;
	animation-iteration-count: @count;
	animation-timing-function: @easing;
	
	-webkit-animation-duration: @duration;
	-webkit-animation-delay: @delay;
	-webkit-animation-iteration-count: @count;
	-webkit-animation-timing-function: @easing;
	
	-moz-animation-duration: @duration;
	-moz-animation-delay: @delay;
	-moz-animation-iteration-count: @count;
	-moz-animation-timing-function: @easing;
	
	-o-animation-duration: @duration;
	-o-animation-delay: @delay;
	-o-animation-iteration-count: @count;
	-o-animation-timing-function: @easing;
	
	-ms-animation-duration: @duration;
	-ms-animation-delay: @delay;
	-ms-animation-iteration-count: @count;
	-ms-animation-timing-function: @easing;
}

.rotate (@xaxis: 0%, @yaxis: 0%, @degree: 0deg) {
	transform-origin: @xaxis @yaxis;
	-webkit-transform-origin: @xaxis @yaxis;
	-moz-transform-origin: @xaxis @yaxis;
	-o-transform-origin: @xaxis @yaxis;

	transform: rotate(@degree);
	-webkit-transform: rotate(@degree);
	-moz-transform: rotate(@degree);
	-o-transform: rotate(@degree);

}

.animation (@function: none) {
	-webkit-animation-name: @function;
	-moz-animation-name: @function; 
	-o-animation-name: @function; 
	animation-name: @function; 
}



.seq.seq-active .logo {
	.animate(.7s, 3s, 1, 'ease');
}

.contentpage {
	background-color: #999999;
	color: white;
}

